body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 5px 5px 5px;
}

li>a {
    color: inherit;
    text-decoration: inherit;
}

p {
    max-width: 75vw;
    font-size: larger;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.intro,
.projects,
.contacts,
.netflix-reimagined,
.insta-dupe,
.restroom-locater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}